In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('resources/ukraine_analysis.sqlite')

In [2]:
pd.read_sql('select * from migration_sentiments', conn)

,data_date,ukraine_migration,ukraine_casualties,russia_casualties,russia_prisoners,compound_sentiment
0,02/24,82955.0,30.0,NaN,NaN,-0.108154
1,02/25,104787.0,25.0,2800.0,0.0,-0.048700
2,02/26,147927.0,185.0,1500.0,0.0,-0.006785
3,02/27,171579.0,0.0,200.0,0.0,-0.026094
4,02/28,163607.0,166.0,800.0,0.0,-0.063197
5,03/01,168167.0,144.0,410.0,200.0,-0.099070
6,03/02,173952.0,202.0,130.0,0.0,-0.100120
7,03/03,166382.0,86.0,3160.0,0.0,-0.078467
8,03/04,171826.0,168.0,166.0,0.0,-0.108797
9,03/05,197818.0,52.0,834.0,16.0,-0.039252
10,03/06,205708.0,65.0,1000.0,16.0,-0.093408
11,03/07,207322.0,84.0,0.0,27.0,-0.039909
12,03/08,184001.0,128.0,1000.0,25.0,-0.012988
13,03/09,170501.0,89.0,0.0,76.0,-0.085185
14,03/10,134458.0,82.0,0.0,11.0,-0.091625
15,03/11,120435.0,40.0,0.0,18.0,-0.079805
16,03/12,115986.0,35.0,0.0,0.0,-0.078729
17,03/13,158341.0,82.0,0.0,0.0,-0.126427
18,03/14,114542.0,98.0,0.0,0.0,-0.080359
19,03/15,111161.0,73.0,1500.0,0.0,-0.043256
20,03/16,104880.0,198.0,300.0,0.0,-0.071026
21,03/17,95585.0,117.0,200.0,16.0,-0.028101
22,03/18,82655.0,97.0,200.0,0.0,-0.060513
23,03/19,76757.0,NaN,200.0,0.0,-0.069892
24,03/20,67405.0,NaN,300.0,0.0,NaN
25,03/21,64677.0,NaN,300.0,0.0,NaN
26,03/22,68285.0,NaN,300.0,6.0,NaN
27,03/23,48405.0,NaN,300.0,1.0,NaN
28,03/24,59642.0,NaN,200.0,0.0,NaN
29,03/25,66076.0,NaN,300.0,0.0,NaN
30,03/26,64583.0,NaN,300.0,0.0,NaN
31,03/27,60211.0,NaN,200.0,9.0,NaN
32,03/28,52138.0,NaN,400.0,0.0,NaN
33,03/29,42035.0,NaN,200.0,9.0,NaN
34,03/30,39954.0,NaN,100.0,0.0,NaN
35,03/31,38459.0,NaN,200.0,29.0,NaN
36,04/01,34640.0,NaN,200.0,0.0,NaN

In [3]:
#close out the connection
conn.close()