# Pseudocode for final project

## Step 1: Preprocess the Text Data using Natural Language Processing

In [1]:
# import dependencies
import pandas as pd
import io

In [2]:
# load the data into the dataframe
en_tweets_df = pd.read_csv('en_tweets_df.csv', index_col=False, encoding='utf-8')
en_tweets_df.reset_index(drop=True,inplace=True)
en_tweets_df.head()

C:\Users\anadu\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (0,1,2,3,4,5,7,9,10,11,13,14,15,16,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Unnamed: 0.1,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
0,0,0,962369743,toonspt_,‡∏û‡∏¢‡∏£‡∏•‡∏Å üòâ\n‡∏à‡∏∞‡πÄ‡∏õ‡∏¥‡∏î‡πÅ‡∏≠‡∏Ñ‡πÄ‡∏°‡∏∑‡πà‡∏≠‡∏Ç‡∏≤‡∏¢‡∏Ç‡∏≠‡∏á‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô!!,NaN,462.0,7,20549.0,2012-11-21 13:01:19.000000,1496738675085897729,2022-02-24 06:48:02.000000,1897.0,Footage of the airport bombing in Ivano-Franki...,"[{'text': 'Ukraine', 'indices': [68, 76]}, {'t...",en,NaN,0.0,2022-02-24 06:51:34.430620
1,3,3,1073676020,IndiaTodayFLASH,No dragging feet on news. Crisp & short news s...,NaN,117.0,1152610,589066.0,2013-01-09 12:46:38.000000,1496738675584954371,2022-02-24 06:48:02.000000,18.0,Ukraine MP Sophia Fedyna tells about the groun...,"[{'text': 'ITVideo', 'indices': [130, 138]}]",en,NaN,0.0,2022-02-24 06:51:34.403108
2,5,5,1040140500718837760,Areopagiet,D·¥Ä·¥Ö ·É¶ P ú…™ & Q·¥ú…™ /P·¥Ä Ä·¥õ…¥·¥á Ä | A·¥õ ú·¥á…™s·¥õ | ADD /ASS ...,EU v2.0,5008.0,267,9894.0,2018-09-13 07:29:55.000000,1496738676335734785,2022-02-24 06:48:03.000000,1552.0,A cruise missile fired by the Russian army fel...,"[{'text': 'Ukraine', 'indices': [72, 80]}, {'t...",en,NaN,0.0,2022-02-24 06:51:34.384864
3,13,13,3821643918,Sicarius130,Christie // ÂàÄÂâ£‰π±Ëàû (izmt+mtiz for life) + 2.5D (...,Hong Kong,459.0,272,57829.0,2015-10-08 04:49:27.000000,1496738678332280834,2022-02-24 06:48:03.000000,1032.0,"SPREAD AND SHARE, YOU CAN HELP UKRAINE #Ukrain...","[{'text': 'Ukraine', 'indices': [55, 63]}, {'t...",en,NaN,0.0,2022-02-24 06:51:34.311760
4,14,14,1075087352983216128,qwerty_cr,"üáØüáµ @Bgs_Emex üèÜ8452 ladder #51, #137, #187 GT #...",„Éõ„ÉØ„Ç§„Éà„É´„Ç∑„Ç¢„É≥,595.0,1243,2620.0,2018-12-18 17:56:13.000000,1496738678940516353,2022-02-24 06:48:03.000000,1897.0,Footage of the airport bombing in Ivano-Franki...,"[{'text': 'Ukraine', 'indices': [68, 76]}, {'t...",en,NaN,0.0,2022-02-24 06:51:34.302624

# Clean up the data columns that are not the text column

In [3]:
# Get only rows where language = English
# en_tweets_df = tweets_df[tweets_df['language']=='en']
len(en_tweets_df)

1073686

In [4]:
# Drop all unnecessary columns: userid, username, acctdesc, usercreatedts, language, favorite_count, extractedts, coordinates
#en_tweets_df.set_index('tweetid',inplace=True)
en_tweets_df = en_tweets_df[['tweetid','location', 'username', 'tweetcreatedts','followers','retweetcount','text']]
en_tweets_df

,tweetid,location,username,tweetcreatedts,followers,retweetcount,text
0,1496738675085897729,NaN,toonspt_,2022-02-24 06:48:02.000000,7,1897.0,Footage of the airport bombing in Ivano-Franki...
1,1496738675584954371,NaN,IndiaTodayFLASH,2022-02-24 06:48:02.000000,1152610,18.0,Ukraine MP Sophia Fedyna tells about the groun...
2,1496738676335734785,EU v2.0,Areopagiet,2022-02-24 06:48:03.000000,267,1552.0,A cruise missile fired by the Russian army fel...
3,1496738678332280834,Hong Kong,Sicarius130,2022-02-24 06:48:03.000000,272,1032.0,"SPREAD AND SHARE, YOU CAN HELP UKRAINE #Ukrain..."
4,1496738678940516353,„Éõ„ÉØ„Ç§„Éà„É´„Ç∑„Ç¢„É≥,qwerty_cr,2022-02-24 06:48:03.000000,1243,1897.0,Footage of the airport bombing in Ivano-Franki...
...,...,...,...,...,...,...,...
1073681,1497802306712059908,Far from Reality,Bhindeshi_Tara_,2022-02-27 05:14:32.000000,26,63.0,"In a world full of Putins, be a Zelenskyy. #Uk..."
1073682,1497802306997276674,SULDUZ~TABRƒ∞Z,sayatobe,2022-02-27 05:14:32.000000,627,3.0,@ZelenskyyUa @azpresident @SOCARofficial 40 mi...
1073683,1497802307190157314,NaN,DisneyDooneyLV,2022-02-27 05:14:32.000000,15,2359.0,#Russian military leaders should think very ca...
1073684,1497802308373159936,NaN,ScarlettNova3,2022-02-27 05:14:32.000000,0,3.0,Photographic evidence now points towards Russi...
1073685,1497802308532514826,mother earth,miciamiaoo,2022-02-27 05:14:32.000000,433,78.0,Did #Ukrainian Ambassador Indirectly Threatene...

In [5]:
# Drop rows where location is NaN or blank
en_tweets_df['location'].isna().sum()
en_tweets_df = en_tweets_df[en_tweets_df['location'].notna()]

In [6]:
en_tweets_df.shape

(447292, 7)

In [7]:
# Convert column "location" into country names
def country_column(df):
    # select countries to be included in the filtered df  # searches for uk return ukraine, for usa return jerusalem, etc
    country_list = [ "united kingdom", " uk", ",uk", "india", "canada", "nigeria", 
    "ukraine", "—É–∫—Ä–∞—ó–Ω–∞", "russia", "–†–æ—Å—Å–∏—è", "poland", "polska", "pakistan", "china", "‰∏≠ÂõΩ", "‰∏≠Âúã", "finland", 
    "romania", "rom√¢nia", "estonia", "eesti", "latvia", "latvija", "lithuania", "lietuva",
    "australia", "new zealand", "france", "kenya", "germany", 
    "hong kong", "south africa", " usa", ",usa", "united states", "england"]
    # create an empty list to hold dataframes
    df_list = []
    new_df = pd.DataFrame()
    # loop through the country list
    for i in country_list:
        # filter the the df by country
        filtered_df = df[df['location'].str.contains(i, case=False, na = False)].copy()
        # assign label to country column 
        filtered_df['country'] = i
        # append filtered df to df_list
        df_list.append(filtered_df)
        # join dfs in df_list
        new_df = pd.concat(df_list)
    return new_df

In [8]:
tweets_country_df = pd.DataFrame()
tweets_country_df = country_column(en_tweets_df)

In [9]:
tweets_country_df.shape

(136020, 8)

In [10]:
tweets_country_df.country.unique()

array(['united kingdom', ' uk', ',uk', 'india', 'canada', 'nigeria',
       'ukraine', '—É–∫—Ä–∞—ó–Ω–∞', 'russia', '–†–æ—Å—Å–∏—è', 'poland', 'polska',
       'pakistan', 'china', '‰∏≠ÂõΩ', '‰∏≠Âúã', 'finland', 'romania', 'rom√¢nia',
       'estonia', 'eesti', 'latvia', 'latvija', 'lithuania', 'lietuva',
       'australia', 'new zealand', 'france', 'kenya', 'germany',
       'hong kong', 'south africa', ' usa', ',usa', 'united states',
       'england'], dtype=object)

In [11]:
tweets_country_df.loc[tweets_country_df.country=="united states",'country']='usa'
tweets_country_df.loc[tweets_country_df.country==" usa",'country']='usa'
tweets_country_df.loc[tweets_country_df.country==",usa",'country']='usa'
tweets_country_df.loc[tweets_country_df.country==" uk",'country']='uk'
tweets_country_df.loc[tweets_country_df.country==",uk",'country']='uk'
tweets_country_df.loc[tweets_country_df.country=="united kingdom",'country']='uk'
tweets_country_df.loc[tweets_country_df.country=="england",'country']='uk'
tweets_country_df.loc[tweets_country_df.country=="—É–∫—Ä–∞—ó–Ω–∞",'country']='ukraine'
tweets_country_df.loc[tweets_country_df.country=="–†–æ—Å—Å–∏—è",'country']='russia'
tweets_country_df.loc[tweets_country_df.country=="polska",'country']='poland'
tweets_country_df.loc[tweets_country_df.country=="‰∏≠ÂõΩ",'country']='china'
tweets_country_df.loc[tweets_country_df.country=="‰∏≠Âúã",'country']='china'
tweets_country_df.loc[tweets_country_df.country=="rom√¢nia",'country']='romania'
tweets_country_df.loc[tweets_country_df.country=="eesti",'country']='estonia'
tweets_country_df.loc[tweets_country_df.country=="latvija",'country']='latvia'
tweets_country_df.loc[tweets_country_df.country=="lietuva",'country']='lithuania'

In [12]:
tweets_country_df.country.unique()

array(['uk', 'india', 'canada', 'nigeria', 'ukraine', 'russia', 'poland',
       'pakistan', 'china', 'finland', 'romania', 'estonia', 'latvia',
       'lithuania', 'australia', 'new zealand', 'france', 'kenya',
       'germany', 'hong kong', 'south africa', 'usa'], dtype=object)

In [13]:
tweets_country_df["country"].value_counts()

usa             30583
india           27757
uk              24004
canada           7480
nigeria          6719
pakistan         5744
poland           4658
ukraine          4432
france           4144
australia        3552
germany          3522
south africa     3474
kenya            2525
russia           1343
finland          1159
hong kong        1151
romania           868
new zealand       727
latvia            596
estonia           567
china             562
lithuania         453
Name: country, dtype: int64

In [14]:
tweets_country_df.to_csv('tweets_dataset.csv', index=False)

In [15]:
tweets_country_df.drop(['location'], axis = 1)

,tweetid,username,tweetcreatedts,followers,retweetcount,text,country
302,1496738788198199302,Rosgood2talk,2022-02-24 06:48:29.000000,1519,11.0,‚ÄúA small group of people have gathered in the ...,uk
609,1496738913108602881,georgeb_04,2022-02-24 06:48:59.000000,11,848.0,One very concerning development is #Russia has...,uk
786,1496738983706972165,Michael67170354,2022-02-24 06:49:16.000000,1237,1853.0,Footage of the airport bombing in Ivano-Franki...,uk
961,1496739050081775616,EllianaWatson19,2022-02-24 06:49:32.000000,280,0.0,"#Gold price rockets to $1,950 after #Russia of...",uk
1373,1496742100737708033,BritishHeraldUK,2022-02-24 07:01:39.000000,134551,0.0,#RussiaUkraine: What to know as #world awaits ...,uk
...,...,...,...,...,...,...,...
1073164,1497802158477086721,TrollPolice17,2022-02-27 05:13:57.000000,114,30.0,"The main street in St Petersburg, #Russia, the...",uk
1073268,1497802191167496193,mavisbickle,2022-02-27 05:14:04.000000,579,2590.0,Bit of advice for all Ukrainians who intend to...,uk
1073342,1497802213581893634,bornnakeddd,2022-02-27 05:14:10.000000,34,2.0,@BaddCompani #BreakingNews The hacker group An...,uk
1073615,1497802290404675584,hev298,2022-02-27 05:14:28.000000,54,9764.0,Let me introduce you to Miss Ukraine Anastasii...,uk
1073668,1497802304208220160,Lexi94556417,2022-02-27 05:14:31.000000,78,0.0,#putin small man syndrome,uk

In [16]:
import sqlite3
database = "tweets_dataset.sqlite"
conn = sqlite3.connect(database)

In [17]:
tweets_country_df.to_sql(name='Tweets', con=conn, schema=None, if_exists='replace', index=False, index_label=None, chunksize=None, dtype=None, method=None)
conn.close()